* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
  font-size: 21px;
  color: gray;
}

a {
  text-align: center;
  color: aquamarine;
  font-size: 16px;
}


.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

div {
  text-align: center;
}

#link {
  margin: 20px;
}

#img2 {
  margin-top: 50px;
}

footer p {
  text-align: right;
  color: gray;
}